@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 2rem 0;
}

#wrap {
    border-top: 0.5rem solid #000;
    border-bottom: 0.5rem solid #000;
    width: 60rem;
    background: #fff;
    padding: 0 5rem;
}

.flex {
    display: flex;
}

.in-column {
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.me {
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    border-bottom: 0.3rem solid #000;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0 0.5rem 0;
}

.info {
    align-items: center;
}

.contact-info {
    align-items: end;
}

.item-contact {
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem 0 0 1rem;
}

.item-contact:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.profile {
    max-width: 13rem;
}

.title-item-section {
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.pro-resume {
    margin: 0 0 2rem;
}

.pro-resume p {
    line-height: 1.8rem;
    font-style: italic;
    font-size: 1.2rem;
    padding: 0 0 0 1rem;
}

.knowledge {
    margin: 0 0 2rem;
}

.knowledge-list {
    justify-content: space-around;
    font-size: 1.1rem;
}

.knowledge-list ul li{
    list-style-type: '\272D';
    padding: 0 0 0 1rem;
}

.desc-experience ul li {
    list-style-type: '\272D';
    padding: 0 0 0 1rem;
    margin: 0 0 0 2rem;
}

.item-experience {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 1.1rem;
    padding: 0 0 1.1rem 1.5rem;;
}

.item-experience > p {
    font-style: italic;
}

.desc-item-section {
    padding: 0 0 0 1.5rem;
}

.desc-experience {
    margin-top: 1rem;
    justify-content: end;
    gap: 1rem;
}

.education {
    margin: 0 0 2rem;
}

.languages {
    margin: 0 0 2rem;
}

@media (width < 900px) {
    body {
        padding: 1rem;
    }

    header {
        flex-direction: column;
        gap: 1rem;
    }

    #wrap {
        padding: 0 1rem;
    }

    .flex {
        align-items: center;
    }

    .info {
        flex-direction: column-reverse;
    }

    .contact-info {
        align-items: center;
    }

    .specs {
        align-items: center;
    }

    .item-contact:hover {
        border-radius: 1rem;
    }

    .pro-resume p {
        text-align: center;
    }

    .knowledge-list {
        flex-direction: column;
        align-items: start;
        font-size: 1.1rem;
    }

    .profile > img {
        border-radius: 50%;
    }

    .contact-info {
        display: flex;
        align-content: center;
        flex-direction: row;
    }
    .knowledge-list {
        padding: 0 0 0 3rem;
    }
}

@media (width < 430px) {
    .title {
        font-size: 1.2rem;
    }
    .title-item-section {
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }
    .pro-resume p {
        font-size: 1rem;
    }
}
