@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    width: 100%;
    align-items: center;
}

header {
    justify-content: space-between;
    align-items: stretch;
    border-top: 1rem solid #000000;
    border-bottom: 2px solid #000000;
    gap: 1rem;
    margin: 0 0 2rem;
}

nav {
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
}

nav ul {
    width: 100%;
    list-style-type: none;
    align-items: stretch;
    justify-content: center;
}

nav li {
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

nav a {
    color: #000000;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    gap: 0.5rem;
}

nav a:hover {
    color: #FFFFFF;
    background-color: #000000;
}

main {
    padding: 0 2rem;
}

footer {
    justify-content: center;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-weight: 300;
    border-top: 0.1rem solid #000000;
    border-bottom: 1rem solid #000000;
    margin: 3rem 0 0;
    color: #696969;
}

/** Utils **/
.divider {
    height: 2px;
    background: #000000;
    margin: 0 0 1rem;
}

.flex {
    display: flex;
}

.in-column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

#wrap {
    margin: 2rem 0 2rem;
    width: 1024px;
    -webkit-box-shadow: 0 0 10px 0 rgba(138,138,138,1);
    -moz-box-shadow: 0 0 10px 0 rgba(138,138,138,1);
    box-shadow: 0 0 10px 0 rgba(138,138,138,1);
}

.branding {
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.logo {
    gap: 0.1rem;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
}

.subtitle {
    font-size: 1rem;
    font-weight: 300;
}

.utils {
    gap: 0.5rem;
    border-top: 0.1rem solid #000000;
}

.utils a {
    text-decoration: none;
    padding: 0.5rem;
    color: #000000;
    font-size: 1.3rem;
}

.utils a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.picture {
    width: 200px;
    height: 150px;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** Sections **/
.section-desc {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    margin: 0 0 1rem;
}

.section-desc h3 {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    background: #000000;
    align-self: start;
    color: #FFFFFF;
    padding: 0.5rem;
}

.section-desc p {
    padding: 1rem;
    margin: 0 0 1rem;
}

.knows{
    font-size: 1.1rem;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem 0 1.5rem;
}

.knows ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: '\272D';
    width: 100%;
}

.knows li {
    margin: 0 0 0 2rem;
    padding: 0 0 0 1rem;
}

/** Horizontal Cards **/
.card-container {
    align-items: center;
}

.card {
    width: 100%;
    justify-content: center;
    margin: 0 0 1.5rem;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #000000;
}

.card:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(138,138,138,1);
    -moz-box-shadow: 0 0 10px 0 rgba(138,138,138,1);
    box-shadow: 0 0 10px 0 rgba(138,138,138,1);
}

.card-img {}

.img-project {
    width: 300px;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 2px;
}

.card-body {
    justify-content: stretch;
    align-self: stretch;
    gap: 0.5rem;
}

.card-title {
    font-weight: 500;
}

.card-footer {
    width: 100%;
    gap: 0.2rem;
    margin: 1rem 0;
}

.card-footer a {
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #000000;
    padding: 0.3rem 1rem;
}

.card-footer a:hover {
    background: #2a2a2a;
}

.more-projects{

}

.more-projects a {
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    padding: 0.4rem;
    text-align: center;
    background: #000000;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 2rem;
}

.more-projects a:hover {
    background: #2a2a2a;
}

.align-right{
    justify-content: end;
}

.align-left {
    justify-content: start;
}

.experience-article {
    margin: 1rem 0 2rem;
    padding: 0 1rem;
}

.title-experience {
    justify-content: space-between;
    margin: 0 0 0.5rem;
}

.title-experience h4 {
    font-weight: 500;
    font-size: 1.2rem;
}

.date-experience {
    font-size: 1.2rem;
    font-weight: 300;
}

.description-experience {
}

.description-experience p {
    font-size: 1.1rem;
    margin: 0 0 1rem;
    padding: 0;
}

.description-experience ul {
    list-style-type: '\272D';
    width: 100%;
    margin: 0 0 0 1rem;
    font-size: 1rem;
}

.description-experience li {
    padding: 0 0 0 1rem;
}

.academic-data {
    list-style-type: '\272D';
    width: 100%;
    margin: 0 0 0 1rem;
    font-size: 1rem;
    padding: 0 1rem;
}

.academic-data li {
    padding: 0 0 0 1rem;
}

.languages {
    font-size: 1rem;
}

@media screen and (max-width: 412px), (max-width: 912px)  {
    #wrap {
        width: 100%;
        margin: 0;
    }
    header {
        flex-direction: column;
        margin: 0 0 1rem;
        gap: 0;
    }
    main {
        padding: 0;
    }
    nav {
        max-width: 100%;
        padding: 0.3rem 0.6rem;
        border-top: 2px solid #000000;
    }
    nav ul {
        width: 100%;
        justify-content: space-between;
    }
    nav li {

    }
    nav a {
        gap: 0;
        font-size: 0.9rem;
        padding: 0.2rem;
        margin: 0;
    }

    nav a:hover {
        background: #FFFFFF;
        text-decoration: none;
        color: #000000;
    }

    nav a > .fa-solid{
        display: none;
    }

    .branding {
        flex-direction: column;
        justify-content: end;
        gap: 0.3rem;
    }

    .picture{
        width: 100%;
        height: 200px;
    }

    .logo {
        align-items: center;
    }

    .utils{
        width: 100%;
        justify-content: center;
    }
    .utils a {
    }
    .section-desc {
        font-size: 1rem;
    }
    .section-desc h3 {
        font-size: 1rem;
        width: 100%;
    }
    .section-desc p {
        padding: 1rem;
        margin: 0;
    }
    .knows{
        font-size: 1rem;
        margin: 0;
    }

    .knows ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .knows li {
        margin: 0 0 0 1rem;
        padding: 0 0 0 1rem;
    }

    .card {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .card-img {}

    .img-project {
        width: 100%;
    }

    .card-body {
        align-items: center;
    }

    .card-footer {
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .card-footer a {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        padding: 0.2rem 0.8rem;
    }
    .more-projects {
        width: 90%;
    }
    .more-projects a {
        font-size: 0.9rem;
        padding: 0.1rem;
    }

    .experience-article {
        margin: 1rem;
        padding: 0 1rem;
    }

    .title-experience {
        flex-wrap: wrap;
        margin: 0 0 0.5rem;
    }

    .title-experience h4 {
        font-weight: 500;
        font-size: 1.1rem;
    }

    .date-experience {
        font-size: 0.8rem;
        font-weight: 300;
    }

    .description-experience {
    }

    .description-experience p {
        text-align: start;
        font-size: 1rem;
        margin: 0 0 1rem;
        padding: 0;
    }
    .description-experience ul {
        margin: 0 0 0 1rem;
        font-size: .9rem;
    }
    .academic-data {
        width: 90%;
        font-size: 1rem;
    }
}

@media screen and (min-width: 912px)  {
    #wrap {
        margin: 0;
    }
    header {
        flex-direction: row;
    }

    .branding {
        flex-direction: row;
        justify-content: stretch;
        gap: 1rem;
    }

    .picture{
        width: 300px;
    }

    .logo {
        align-items: start;
    }

    nav {
        border: 0;
    }

    nav ul {
        flex-direction: column;
        justify-content: space-between;
    }

    nav a {
        flex-direction: row !important;
        gap: 0.5rem;
    }

    nav a > .fa-solid{
        display: block;
    }
}

@media screen and (min-width: 1024px)  {
    #wrap {
        max-width: 1024px;
        width: 95%;
        margin: 1rem 0;
    }
    nav ul {
        flex-direction: row;
    }
    nav a {
        flex-direction: column!important;
    }
}

@media screen and (max-width: 280px)  {
    nav {
        display: none !important;
    }
    .subtitle {
        width: 100%;
        text-align: center;
    }
}

